{% load static %}
<footer class="text-center py-3">
    <div class="container">
        <a href="https://twitter.com/hadizadefemi" target="_blank" class="mx-3"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/hadizadefemi/" target="_blank" class="mx-3"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Hadizadefemi" target="_blank" class="mx-3"><i class="fab fa-github"></i></a>
        <a href="mailto:adefemihadizi2020@gmail.com" target="_blank" class="mx-3"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/hadiz.adefemi.3" target="_blank" class="mx-3">
            <i class="fab fa-facebook"></i>
        </a>
        <p>&copy; Hadiz Adefemi 2023</p>
    </div>
</footer>