{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ project.title }} project | HADIZ ADEFEMI</title>
{% endblock title %}

{% block content %}
    <h1 class="text-center display-4 mb-4 fw-normal">{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8 mb-3">
            <img src="{{ project.image.url }}" alt="littlelemon website" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the project</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ project.technology }}</p>
        </div>
    </div>
{% endblock content %}
    