{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="bio" class="col-12 col-lg-6 text-center">
            <h1>Hadiz</h1>
            <img src="{% static 'imsg/hadiz_adefemi.jpg' %}" class="img-fluid">
        </div>
        <div id="more" class="col-12 col-lg-6">
            <h2>Hi!</h2>
            
        </div>
        <div class="text-center">
            <a href="" class="btn btn-outline-secondary">About Me</a>
        </div>
    </div>
</div>
{% endblock %}